input:invalid {border-color: red;}
input:valid {border-color: green;}

.wrapper {
    margin: 20px;
    text-align: center;
    
}

.field {
    margin: 10px;
    font-size: large;
    width: auto;
}
